* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  text-decoration: none;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
}

.container {
  --col-gray: #3f3f3f;
  --col-white: #fff;
  --col-like: #2196f3;
  --col-dislike: #ff3232;
  --transition: 350ms;
  background-color: var(--col-gray);
  width: 130px;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  --zero: translateY(calc(50% - 8px));
  --one: translateY(calc(40% - 8px));
  --two: translateY(calc(30% - 8px));
  --three: translateY(calc(20% - 8px));
  --four: translateY(calc(10% - 8px));
  --five: translateY(calc(0% - 8px));
  --six: translateY(calc(-10% - 8px));
  --seven: translateY(calc(-20% - 8px));
  --eight: translateY(calc(-30% - 8px));
  --nine: translateY(calc(-40% - 8px));
  --ten: translateY(calc(-50% - 8px));
}
.container:has(#like:checked) .count {
  border-left-color: var(--col-like);
  border-right-color: transparent;
}
.container:has(#like:checked) .count .number:first-child {
  transform: var(--nine);
}
.container:has(#like:checked) .count .number:nth-child(2) {
  transform: var(--five);
}
.container:has(#like:checked) .count .number:last-child {
  transform: var(--three);
}
.container:has(#dislike:checked) > .count {
  border-right-color: var(--col-dislike);
  border-left-color: transparent;
}
.container:has(#dislike:checked) > .count .number:first-child {
  transform: var(--zero);
}
.container:has(#dislike:checked) > .count .number:nth-child(2) {
  transform: var(--zero);
}
.container:has(#dislike:checked) > .count .number:last-child {
  transform: var(--nine);
}
.container label input {
  display: none;
}
.container #like:checked + svg {
  animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-like);
}
.container #dislike:checked + svg {
  animation: evaluation-animation var(--transition) ease-in-out 0s 1 normal both;
  fill: var(--col-dislike);
}
.container .icon {
  cursor: pointer;
  fill: var(--col-white);
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .icon.like {
  margin-left: 9px;
}
.container .icon.dislike {
  margin-right: 9px;
}
.container .count {
  transition: var(--transition);
  flex: 1;
  justify-content: center;
  border-left: 1px solid var(--col-white);
  border-right: 1px solid var(--col-white);
  position: relative;
  height: 24px;
  overflow: hidden;
  margin: auto;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  display: flex;
  gap: 0.5px;
  align-items: center;
  flex-direction: row;
}
.container .count .number {
  display: flex;
  flex-direction: column;
  transform: translateY(calc(50% - 8px));
  transition: 1000ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.container .count .number:first-child {
  transition-delay: 200ms;
}
.container .count .number:nth-child(2) {
  transition-delay: 150ms;
}
.container .count .number:last-child {
  transition-delay: 50ms;
}

@keyframes evaluation-animation {
  0%, 100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.1) rotate(-10deg);
  }
}